/* ESTILO WEB GRAL */

html,
body {
  height: 100%;
}

body {
    background-image: linear-gradient(269deg, #b6eaff 0, #8fd7f8 16.67%, #61c3f1 33.33%, #00aee9 50%, #0099e2 66.67%, #0085db 83.33%, #0072d4 100%);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

/* TEXTO HOME BIENVENIDA */

.contenedor{
    position: absolute;
    display: inline-block;
    text-align: center;
}

.bienvenida{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: cornsilk;
    text-shadow: rgb(43, 42, 42);
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* TÍTULO FORMULARIO*/

#titulo2{
    font-family: 'Pacifico', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bajada-form{
    padding-top: 5px;
    padding-bottom: 20px;
}

/*MAPA*/

#map { 
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
 }



/* ESTILOS MENÚ 

#menu-nav{
    margin-top: 5%;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
    background-color: rgb(138, 137, 137);
}

#menu-nav li{
    display: inline;
    font-size: 20px;
    display: inline-flexbox;
    

}

.lista-menu{
    font-size: 16px;
    color: white;
    
}

.lista-menu a {
    color:white;
    text-decoration:none;
    
}

    a:hover {
    color:rgb(9, 209, 133);
    background-color:rgb(252, 252, 252);
}
*/

header{
    margin-bottom: 110px;
}

#navbar-brand{
    margin-right: 60px;
}

#navbar-brand:hover{
    filter: grayscale(70%);
}

.navbar-nav{
    font-size: 18px;
}

.navbar-nav li{
    padding-right: 20px;
}

.navbar-nav li a:hover{
    color:rgb(23, 75, 219);
}

.navbar-text{
    margin-right: 15px;
}

#logo-brand{
    width: 120px;
    height: auto;
}

.contenedor-simulador{
    margin-left: 30px;
    margin-right: 200px;
}

.custom-control-input{
    color: coral;
}

/*Botón Submit */

   .btn-primary,
   .btn-primary:hover,
   .btn-primary:active {
     color: white;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     background-color:rgb(245, 112, 194);
   }

   .btn-primary:hover {
     background-position: 0 -15px;
     background-color: #fab55b;
   }


/* VIDEO TEST */

   .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* test burbujas */
    
    /* Essential CSS - Makes the effect work */
    
    .bienvenida {
    display: inline-block;
    position: absolute;
    }
    
    .bienvenida {
    position: absolute;
    margin: 1em 0 0;
    font-family: 'Pacifico', cursive;
    color: rgb(236, 231, 231);
    z-index: 2;
    }
    
    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: rgb(211, 233, 241);
    z-index: 1;
    }