/* ESTILO WEB GRAL */

html,
body {
  height: 100%;
}

body {
    background-image: linear-gradient(269deg, #b6eaff 0, #8fd7f8 16.67%, #61c3f1 33.33%, #00aee9 50%, #0099e2 66.67%, #0085db 83.33%, #0072d4 100%);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}



/* ESTILOS MENÚ 

#menu-nav{
    margin-top: 5%;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
    background-color: rgb(138, 137, 137);
}

#menu-nav li{
    display: inline;
    font-size: 20px;
    display: inline-flexbox;
    

}

.lista-menu{
    font-size: 16px;
    color: white;
    
}

.lista-menu a {
    color:white;
    text-decoration:none;
    
}

    a:hover {
    color:rgb(9, 209, 133);
    background-color:rgb(252, 252, 252);
}
*/

header{
    margin-bottom: 170px;
}

#navbar-brand{
    margin-right: 60px;
}

#navbar-brand:hover{
    filter: grayscale(70%);
}

.navbar-nav{
    font-size: 18px;
}

.navbar-nav li{
    padding-right: 20px;
}

.navbar-nav li a:hover{
    color:rgb(23, 75, 219);
}

#logo-brand{
    width: 150px;
    height: auto;
}

.contenedor-simulador{
    margin-left: 30px;
    margin-right: 200px;
}

form{
    margin-bottom: 50px;
}

/*Botón Submit */

   .btn-ttc,
   .btn-ttc:hover,
   .btn-ttc:active {
     color: white;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     background-color:rgb(245, 112, 194);
   }

   .btn-ttc:hover {
     background-position: 0 -15px;
     background-color: #fab55b;
   }


/* VIDEO TEST */

   .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
